Thank you for creating a new E-mail integration with Ylem.<br/><br/>

Your email confirmation code <strong>{{ .code }}</strong>
Please confirm your email by following the link {{ .link }} and entering the code.<br/><br/>

Sincerely yours,
Ylem.
